extends layout

block content
  h2 User profile
  table
    tr
      td(width='200px')
        img(src=user.avatar, width='100%')
      td(valign='top')
        ul
          li Login: #{user.username}
          li Name: #{user.displayName}
          li Email: #{user.email}
